<!DOCTYPE html>
<!--
~   Copyright (c) 2018, WSO2 Inc. (http://wso2.com) All Rights Reserved.
~
~   Licensed under the Apache License, Version 2.0 (the "License");
~   you may not use this file except in compliance with the License.
~   You may obtain a copy of the License at
~
~        http://www.apache.org/licenses/LICENSE-2.0
~
~   Unless required by applicable law or agreed to in writing, software
~   distributed under the License is distributed on an "AS IS" BASIS,
~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~   See the License for the specific language governing permissions and
~   limitations under the License.
-->
<html lang="en" class="webkit chrome mac js gr__localhost" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ballerina Composer</title>
    <!-- Favion -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="css/preloader.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" type="text/css" href=<%=JSON.stringify("bundle-less-" + webpack.hash + ".css")%>/>
    <link rel="stylesheet" type="text/css" href=<%=JSON.stringify("bundle-bundle-" + webpack.hash + ".css")%>/>
    <link rel="stylesheet" type="text/css" href=<%=JSON.stringify("bundle-vendor-" + webpack.hash + ".css")%>/>
    <link rel="stylesheet" href="themes/default.css" title="default"/>
    <link rel="stylesheet" href="themes/light.css" title="light" disabled/>
    <link rel="stylesheet" href="themes/dark.css" title="dark" disabled/>

</head>
<body class="loading" data-toggle="loading" data-loading-style="overlay">
    <div class="loading-animation flip">
      <div class="icon">
        <svg version="1.1" id="ballerina_preload_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        	 y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
          <g>
          	<circle style="fill:#51C2C0;" cx="100" cy="100" r="100"/>
          	<path style="fill:#FFFFFF;" d="M61.9,31.3h32.5v51.2L61.9,70.1V31.3z M61.9,82.2v17l22.2-8.5L61.9,82.2z M61.9,169.5h16.7l15.8-51.8V99
          		l-32.5,12.4V169.5z M105.6,31.3v51.2l32.5-12.4V31.3H105.6z M138.1,99.2v-17l-22.2,8.5L138.1,99.2z M105.6,117.8l15.8,51.8h16.7
          		v-58.2L105.6,99V117.8z"/>
          </g>
        </svg>
      </div>
    </div>
    <div class="loading-bg"></div>

    <div id="alert-container"></div>
    <div id="app-container"></div>
    <div id="dialog-container"></div>
    <script src=<%=JSON.stringify("vendor-" + webpack.hash + ".js")%> ></script>
    <script src=<%=JSON.stringify("tree-" + webpack.hash + ".js")%> ></script>
    <script src=<%=JSON.stringify("bundle-" + webpack.hash + ".js")%> ></script>
</body>
</html>
