<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="docerina-theme/libs/bootstrap-3.0.0/dist/css/bootstrap.min.css">

    <!-- custom CSS -->
    <link rel="stylesheet" href="docerina-theme/css/main.scss">
    <!-- Ballerina font CSS -->
    <link rel="stylesheet" href="docerina-theme/css/font-ballerina/css/font-ballerina.css">

    <title>Ballerina API Documentation</title>
</head>
<body>
<div id="packageList">
    <header id="header">
        <a href="index.html"><strong>Ballerina</strong> API Documentation</a>
    </header>
    <h3> Packages: </h3>
    {{#each links}}
        <ul>
            <li>
                <!--Package Name-->
                {{#if active}}
                    <a> {{packageName.name}}</a>
                {{else}}
                    <a href="{{packageName.name}}.html">{{packageName.prefix}}<span
                            class="bold">{{packageName.suffix}}</span></a>
                {{/if}}
                <!--Construct of Package-->
                <ul>
                    {{#each constructs}}
                        <li>
                            <a href="#{{name}}">
                                <span class="{{icon}}"> </span>
                                {{name}}
                                {{#if isFunction}}
                                    ( {{join parameters " , "}} )
                                    {{#if returnParams}}
                                    ( {{join returnParams " , "}} )
                                    {{/if}}
                                {{/if}}
                                {{#if isConnector}}
                                    ({{#each parameters}}{{dataType}} {{name}}{{#unless @last}},{{/unless}}{{/each}})
                                {{/if}}
                            </a>
                        </li>
                        {{#each children}}
                            <ul>
                                <li>
                                    <a href="#{{name}}">
                                        <span class="{{icon}}"> </span>
                                        {{name}}
                                        ( {{join parameters " , "}} )
                                        {{#if returnParams}}
                                        ( {{join returnParams " , "}} )
                                        {{/if}}
                                    </a>
                                </li>
                            </ul>
                        {{/each}}
                    {{/each}}
                </ul>
            </li>
        </ul>
    {{/each}}
</div>
<!-- Main Content on the right-->
<div id="content">
    <div class="col-lg-10 content-wrapper main-wrapper">
        <h3 class="thin-text padding-bottom">
            <span class="bold">{{packageName}}</span> package
        </h3>
    </div>

    {{#each constructs}}
        <!-- Function -->
        {{#if isFunction}}
            <h4 id="{{name}}">
                <span class="{{icon}} sm-icon"> </span>
                {{name}}
                ( {{join parameters " , "}} )
                {{#if returnParams}}
                ( {{join returnParams " , "}} )
                {{/if}}
            </h4>
            <p>
                <span class="fw-right gray xs-icon"></span>{{description}}
            </p>
            {{#if parameters}}
                <p>
                    <label class="table-header-text">Parameters:</label>
                <table>
                    <tr>
                        <th>Parameter Name</th>
                        <th>Data Type</th>
                        <th>Description</th>
                    </tr>
                    {{#each parameters}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{dataType}}</td>
                            <td>{{description}}</td>
                        </tr>
                    {{/each}}
                </table>
                </p>
            {{/if}}
            {{#if bLangNode.retParams}}
                <p>
                    <label class="table-header-text">Return Parameters:</label>
                <table border="1">
                    <tr>
                        <th>Return Variable</th>
                        <th>Data Type</th>
                        <th>Description</th>
                    </tr>
                    {{#each returnParams}}
                        <tr>
                            <td>{{name}}</td>
                            <td> {{dataType}} </td>
                            <td>{{description}}</td>
                        </tr>
                    {{/each}}
                </table>
                </p>
            {{/if}}
        {{/if}}
        <!-- Struct-binded functions grouped together -->
        {{#if isStruct}}
            <h4 id="{{name}}">
                <span class="{{icon}} sm-icon"></span>
                {{name}}
            </h4>
            <p>{{description}}</p>
            {{#if fields}}
                <p>
                    <label class="table-header-text">Fields:</label>
                <table>
                    <tr>
                        <th>Field Name</th>
                        <th>Data Type</th>
                        <th>Description</th>
                    </tr>
                    {{#each fields}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{dataType}}</td>
                            <td>{{description}}</td>
                        </tr>
                    {{/each}}
                </table>
                </p>
            {{/if}}
            {{#if children}}
                <div class="function-wrapper">
                    <ul>
                        {{#each children}}
                            <li>
                                <h4 id="{{name}}">
                                    <span class={{icon}}></span>
                                    <span class="thin-text light-gray">< {{../name}} ></span>
                                    {{name}}
                                    ( {{join parameters " , "}} )
                                    {{#if returnParams}}
                                    ( {{join returnParams " , "}} )
                                    {{/if}}
                                </h4>
                                <p>
                                    <span class="fw-right gray xs-icon"></span>
                                    {{description}}
                                </p>
                                {{#if parameters}}
                                    <p>
                                        <label class="table-header-text">Parameters:</label>
                                    <table>
                                        <tr>
                                            <th>Parameter Name</th>
                                            <th>Data Type</th>
                                            <th>Description</th>
                                        </tr>
                                        {{#each parameters}}
                                            <tr>
                                                <td>{{name}}</td>
                                                <td>{{dataType}}</td>
                                                <td>{{description}}</td>
                                            </tr>
                                        {{/each}}
                                    </table>
                                    </p>
                                {{/if}}
                                {{#if returnParams}}
                                    <label class="table-header-text">Return Parameters:</label>
                                    <table>
                                        <tr>
                                            <th>Return Variable</th>
                                            <th>Data Type</th>
                                            <th>Description</th>
                                        </tr>
                                        {{#each returnParams}}
                                            <tr>
                                                <td>{{name}}</td>
                                                <td>{{dataType}}</td>
                                                <td>{{description}}</td>
                                            </tr>
                                        {{/each}}
                                    </table>
                                    </p>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
        {{/if}}
        <!-- Connectors and its actions -->
        {{#if isConnector}}
            <h4 id="{{name}}">
                <span class="{{icon}} sm-icon"></span>
                {{name}} ( {{join parameters " , "}} )
            </h4>
            <p>{{description}}</p>
            {{#if parameters}}
                <p>
                    <label class="table-header-text">Parameters:</label>
                    <table>
                        <tr>
                            <th>Parameter Name</th>
                            <th>Data Type</th>
                            <th>Description</th>
                        </tr>
                        {{#each parameters}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{dataType}}</td>
                                <td>{{description}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </p>
            {{/if}}
            {{#if children}}
                <div class="function-wrapper">
                    <h4>Actions:</h4>
                    <ul>
                        {{#each children}}
                            <li>
                                <h4 id="{{name}}">
                                    <span class={{icon}}></span>
                                    <span class="thin-text light-gray">< {{../name}} ></span>
                                    {{name}}
                                    ( {{join parameters " , "}} )
                                    {{#if returnParams}}
                                    ( {{join returnParams " , "}} )
                                    {{/if}}
                                </h4>
                                <p>
                                    <span class="fw-right gray xs-icon"></span>
                                    {{description}}
                                </p>
                                {{#if parameters}}
                                    <p>
                                        <label class="table-header-text">Parameters:</label>
                                        <table>
                                            <tr>
                                                <th>Parameter Name</th>
                                                <th>Data Type</th>
                                                <th>Description</th>
                                            </tr>
                                            {{#each parameters}}
                                                <tr>
                                                    <td>{{name}}</td>
                                                    <td>{{dataType}}</td>
                                                    <td>{{description}}</td>
                                                </tr>
                                            {{/each}}
                                        </table>
                                    </p>
                                {{/if}}
                                {{#if returnParams}}
                                    <p>
                                        <label class="table-header-text">Return Parameters:</label>
                                        <table>
                                            <tr>
                                                <th>Return Variable</th>
                                                <th>Data Type</th>
                                                <th>Description</th>
                                            </tr>
                                            {{#each returnParams}}
                                                <tr>
                                                    <td>{{name}}</td>
                                                    <td>{{dataType}}</td>
                                                    <td>{{description}}</td>
                                                </tr>
                                            {{/each}}
                                        </table>
                                    </p>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
        {{/if}}
        <!-- Enums-->
        {{#if isEnum}}
            <h4 id="{{name}}">
                <span class="{{icon}} sm-icon"></span>
                {{name}}
            </h4>
            <p>{{description}}</p>
            {{#if enumerators}}
                <p>
                    <label class="table-header-text">Enumerators:</label>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        {{#each enumerators}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{description}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </p>
            {{/if}}
        {{/if}}
        <!-- Annotations-->
        {{#if isAnnotation}}
            <h4 id="{{name}}">
                <span class="{{icon}} sm-icon"></span>
                {{name}}
            </h4>
            <p>{{description}}</p>
            {{#if attributes}}
                <p>
                    <label class="table-header-text">Attributes:</label>
                    <table>
                        <tr>
                            <th>Attribute Name</th>
                            <th>Data Type</th>
                            <th>Description</th>
                        </tr>
                        {{#each attributes}}
                            <tr>
                                <td>{{name}}</td>
                                <th>{{dataType}}</th>
                                <td>{{description}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </p>
            {{/if}}
        {{/if}}
        <!-- Global Variables-->
        {{#if isGlobalVariable}}
            <h4 id="{{name}}">
                <span class="{{icon}} sm-icon"></span>
                {{name}}
            </h4>
            <table>
                <tr>
                    <th>Attribute Name</th>
                    <th>Data Type</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>{{name}}</td>
                    <th>{{dataType}}</th>
                    <td>{{description}}</td>
                </tr>
            </table>
        {{/if}}
    {{/each}}
</div>
</body>
</html>