<div class="primary-list">
    <a href="{{ rootPath }}{{ module.id }}/index.html">
        <h3>{{module.id}}</h3>
    </a>
    <ul>
        {{#each module.constructs}}
        <li>
            <a href="{{ ../rootPath }}{{ ../module.id }}/index.html#{{@key}}">{{@key}}</a>
        </li>
        {{/each}}
    </ul>
    <div class="ui divider"></div>
</div>