{{#partial "sidebarName" }}
    Annotations
{{/partial}}

{{#partial "sidebarLists" }}
    {{#each module.annotations}}
    <li {{#equals annotations.name name}}class="active" {{/equals}}>
        <a href="#{{name}}" onclick="menuLinkClick()">{{name}}</a>
    </li>
    {{/each}}
{{/partial}}

{{#partial "titleType" }}
    Annotations
{{/partial}}

{{#partial "content" }}
    <div class="annotations">
        <div class="data-wrapper">
            {{#each annotations}}
            <div class="params-listing" id="{{ name }}">
                <ul>
                    <li>
                        <b {{#if isDeprecated}}class="strike" {{/if}}>{{ name }}</b>
                        <span class="type">{{#if type}} <span {{#if isDeprecated}}class="strike"
                                {{/if}}>{{{ typeName type }}}</span>{{/if}}</span>
                        <img class="attach-icon" src="{{ rootPath }}html-template-resources/images/attach.svg">
                        {{ attachmentPoints }}</li>
                    <li>
                        {{#if isDeprecated}}
                        <span class="stab">Deprecated</span>
                        {{/if}}
                        {{{ description }}}
                    </li>
                </ul>
            </div>
            {{/each}}
        </div>
    </div>
{{/partial}}

{{> layout}}
