{{#partial "sidebarName" }}
    Clients
{{/partial}}

{{#partial "sidebarLists" }}
    {{#each module.clients}}
        <li {{#equals client.name name}}class="active active-item"{{/equals}}>
            <a href="{{name}}.html" onclick="menuLinkClick()">{{name}}</a>
        </li>
    {{/each}}
{{/partial}}

{{#partial "titleType" }}
    Clients
{{/partial}}
{{#partial "title" }}
    <span class="clients">{{ client.name }}</span>
{{/partial}}

{{#partial "content" }}
    <p>{{{ client.description }}}</p>

    <div class="constants">
        <div class="method-sum">
            {{#if client.initMethod}}
                {{#client.initMethod}}
                    {{> initMethod }}
                {{/client.initMethod}}
            {{/if}}

            {{#if client.remoteMethods }}
                <h2>Remote Methods</h2>
                <table>
                    {{#each client.remoteMethods}}
                        <tr>
                            <td class="module-title truncate functions" title="{{name}}"><a
                                    class="functions" href="#{{name}}">{{name}}</a></td>
                            <td class="module-desc">{{{ editDescription description }}}</td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}

            {{#if client.otherMethods}}
                <h2>Methods</h2>
                <div class="method-list">
                    {{#each client.otherMethods}}
                        {{> methodSignature }}
                    {{/each}}
                </div>
            {{/if}}
        
            {{#if client.fields}}
                <h2>Fields</h2>
                    {{#client}}    
                        {{> fields }}
                    {{/client}}
            {{/if}}
        </div>

        {{#if client.remoteMethods }}
            {{#each client.remoteMethods }}
                {{> method }}
            {{/each}}
        {{/if}}

        {{#if client.otherMethods }}
            {{#each client.otherMethods }}
                {{> method }}
            {{/each}}
        {{/if}}
    </div>
{{/partial}}

{{> layout}}
