<!DOCTYPE html>
<html>

{{> head }}

<body>
<div class="ui grid">
    <div class="navi-wrapper two wide column">
        <div class="navi-wrapper-content">
            {{> logo }}
            
            {{> currentModule }}
            {{> allModules }}
        </div>
    </div>

    <div class="fourteen wide column content-wrapper">
        <div class="main-wrapper">
            <h1>Constants</h1>
            <div class="constants">
                <table class="ui table param-table">
                    <thead>
                    <tr>
                        <th width="25%">Name</th>
                        <th width="15%">Data Type</th>
                        <th width="20%">Value</th>
                        <th width="35%">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each constants}}
                        <tr id="{{ name }}">
                            <td>{{ name }}</td>
                            <td class="type">{{{ typeName type }}}</td>
                            <td>{{ value }}</td>
                            <td>{{{ description }}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
