<div class="primary-list module">
    {{#if project.isSingleFile}}
        <h3>{{project.sourceFileName}}</h3>
    {{else}}
        <a href="{{ rootPath }}{{ module.id }}/index.html" onclick="menuLinkClick()">
            <h3>{{module.id}}</h3>
        </a>
    {{/if}}
    <ul>
        {{#if module.records}}
            <li>
                <a data="records" href="{{ ../rootPath }}{{ ../module.id }}/index.html#records" onclick="menuLinkClick()">Records</a>
            </li>
        {{/if}}
        {{#if module.classes}}
            <li>
                <a  data="classes" href="{{ ../rootPath }}{{ ../module.id }}/index.html#classes" onclick="menuLinkClick()">Classes</a>
            </li>
        {{/if}}
        {{#if module.abstractObjects}}
            <li>
                <a  data="classes" href="{{ ../rootPath }}{{ ../module.id }}/index.html#absobjects" onclick="menuLinkClick()">Abstract Objects</a>
            </li>
        {{/if}}
        {{#if module.clients}}
            <li>
                <a data="clients" href="{{ ../rootPath }}{{ ../module.id }}/index.html#clients" onclick="menuLinkClick()">Clients</a>
            </li>
        {{/if}}
        {{#if module.listeners}}
            <li>
                <a data="listeners" href="{{ ../rootPath }}{{ ../module.id }}/index.html#listeners" onclick="menuLinkClick()">Listeners</a>
            </li>
        {{/if}}
        {{#if module.functions}}
            <li>
                <a data="functions" href="{{ ../rootPath }}{{ ../module.id }}/index.html#functions" onclick="menuLinkClick()">Functions</a>
            </li>
        {{/if}}
        {{#if module.constants}}
            <li>
                <a data="constants" href="{{ ../rootPath }}{{ ../module.id }}/index.html#constants" onclick="menuLinkClick()">Constants</a>
            </li>
        {{/if}}
        {{#if module.annotations}}
            <li>
                <a data="annotations" href="{{ ../rootPath }}{{ ../module.id }}/index.html#annotations" onclick="menuLinkClick()">Annotations</a>
            </li>
        {{/if}}
        {{#if module.unionTypes}}
            <li>
                <a data="types" href="{{ ../rootPath }}{{ ../module.id }}/index.html#types" onclick="menuLinkClick()">Types</a>
            </li>
        {{/if}}
        {{#if module.errors}}
            <li>
                <a data="errors" href="{{ ../rootPath }}{{ ../module.id }}/index.html#errors" onclick="menuLinkClick()">Errors</a>
            </li>
        {{/if}}
    </ul>
    <div class="ui divider"></div>
</div>
