{{#partial "sidebarName" }}
    Errors
{{/partial}}

{{#partial "sidebarLists" }}
    {{#each module.errors}}
        <li {{#equals errors.name name}}class="active"{{/equals}} onclick="menuLinkClick()">
            <a href="#{{name}}">{{name}}</a>
        </li>
    {{/each}}
{{/partial}}

{{#partial "titleType" }}
    Errors
{{/partial}}

{{#partial "content" }}
    <div class="errors">
        <div class="data-wrapper">
            {{#each errors}}
                <div class="params-listing">
                    <ul>
                        <li id="{{ name }}">
                            <b {{#if isDeprecated}}class="strike"{{/if}}>{{ name }} </b>
                            <span class="type">{{#if detailType }}{{{ typeName detailType }}}{{/if}}</span>
                            {{ attachmentPoints }}
                        </li>
                        <li>
                            {{#if isDeprecated}}
                                <span class="stab">Deprecated</span>
                            {{/if}}
                            {{{ description }}}
                        </li>
                    </ul>
                </div>
            {{/each}}
        </div>
    </div>
{{/partial}}

{{> layout}}
