{{#partial "sidebarName" }}
    Functions
{{/partial}}

{{#partial "sidebarLists" }}
    {{#each module.functions}}
        <li {{#equals functions.name name}}class="active"{{/equals}}>
            <a href="#{{name}}" onclick="menuLinkClick()">{{name}}</a>
        </li>
    {{/each}}
{{/partial}}


{{#partial "titleType" }}
    Functions
{{/partial}}

{{#partial "content" }}
    <div class="constants">
        <table class="ui table row-border details-table">
            <tbody>
                {{#each functions}}
                    <tr>
                        <td width="30%"><a class="functions {{#if isDeprecated}}strike{{/if}}" href="#{{name}}">{{name}}</a></td>
                        <td width="70%">
                            <div class="function-desc">
                                {{#if isIsolated}}
                                <div class="ui horizontal label" data-tooltip="Isolated Function" data-position="top left">I</div>
                                {{/if}}
                                {{#if isDeprecated}}
                                    <span class="stab">Deprecated</span>
                                {{/if}}
                                {{{ editDescription description }}}
                            </div>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <div>
            {{#if functions}}
                <div>
                    {{#each functions}}
                        {{> method }}
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
{{/partial}}

{{> layout}}
