<!DOCTYPE html>
<html>

{{> head }}

<body>
<div class="ui grid">
    <div class="navi-wrapper two wide column">
        <div class="navi-wrapper-content">
            {{> logo }}
            <div class="primary-list function-list">
                <h3>Functions</h3>
                <ul>
                    {{#each module.functions}}
                        <li>
                            <a href="#{{name}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="ui divider"></div>
            {{> currentModule }}
            {{> allModules }}
        </div>
    </div>

    <div class="fourteen wide column content-wrapper">
        <div class="main-wrapper">
            <h1>Functions</h1>
            <div class="constants">
                <table class="ui table details-table">
                    {{#each functions}}
                        <tbody>
                        <tr>
                            <td width="30%" ><a class="functions" href="#{{name}}">{{name}}</a></td>
                            <td width="70%">{{{ description }}}</td>
                        </tr>
                        </tbody>
                    {{/each}}
                </table>
                <div>
                    {{#if functions}}
                        <div>
                            {{#each functions}}
                                {{> method }}
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
