<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {{#if module.id}}<meta name="description" content="{{{ removePTags module.summary }}}">{{/if}}
    <meta name="keywords" content="ballerina,ballerina lang,api docs{{#if module.id}},{{ module.id }}{{/if}}">

    <title>{{ title }}</title>
    <script src="{{ rootPath }}html-template-resources/jquery.min.js"></script>

    {{> bioHead }}

    <link rel="stylesheet" href="{{ rootPath }}html-template-resources/semantic.min.css">
    <link rel="stylesheet" href="{{ rootPath }}html-template-resources/components/icon.min.css">
    <link rel="stylesheet" href="{{ rootPath }}html-template-resources/styles/css/styles.css">
    <link rel="stylesheet" href="{{ rootPath }}html-template-resources/styles/css/font.css">
    <script src="{{ rootPath }}html-template-resources/semantic.min.js"></script>
    <script src="{{ rootPath }}syntax-highlighter/highlighter.js"></script>

</head>
