<h2>Constructor</h2>
<h3 >__init</h3><p>({{{ paramSummary parameters }}})</p>
<div class="data-wrapper">
    {{#each parameters}}
        <div class="params-listing">
            <ul>
                <li> <b>{{ name }}</b><span class="type">  {{{ typeName type }}}</span> {{ defaultValue }}</li>
                <li>
                    {{{ description }}}
                </li>
            </ul>
        </div>
    {{/each}}
</div>