<a href="{{#if excludeIndex}}
    {{ rootPath }}{{ module.id }}/index.html
{{else}}
    {{ rootPath }}index.html{{/if}}">
    <img class="logo" src="{{ rootPath }}html-template-resources/images/ballerina-logo.png">
</a>
