{{!-- <p>
    <a href="#{{name}}"><b>{{name}} </b></a>
    ({{{paramSummary parameters}}}) 
    {{#if returnParameters }}
        <span class="return-class">
            <b> returns </b>{{{returnParamSummary returnParameters}}}
        </span>
    {{/if}}<br>
</p> --}}

<p>
    <span class="param-name">
        <a href="#{{name}}"><b>{{name}} </b></a>
    </span>
    <span class="param-details">
        ({{{paramSummary parameters}}}) 
        {{#if returnParameters }}
        <b> returns </b>{{{returnParamSummary returnParameters}}}
        {{/if}}
    </span>
    
</p>