<div class="method-content">
    <div class="main-method-title here" id="{{name}}" title="{{name}}">
             <a class="url-link" href="#{{name}}">
                <img class="url-link-img" src="{{ rootPath }}html-template-resources/images/link.svg">
            </a>
            <h2 {{#if isDeprecated}}class="strike"{{/if}}> {{name}} </h2>
        <span class="method-types">
            <p>({{{ paramSummary parameters }}})</p>
            {{#if returnParameters }}
                <b> returns </b>{{{returnParamSummary returnParameters}}}
            {{/if}}
        </span>
    </div>
    <div class="function-desc">
        {{#if isDeprecated}}
            <span class="stab">Deprecated</span>
        {{/if}}
        {{#if isIsolated}}
        <div class="isolated-lbl ui horizontal label">Isolated Function</div>
        {{/if}}
        {{{ setStyles description }}}
    </div>
    {{#if parameters}}
        <div class="data-wrapper">
            <h3 class="param-title">Parameters</h3>
            {{#each parameters}}    
            <div class="params-listing">
                <ul>
                    <li>
                        <span {{#if isDeprecated}}class="strike"{{/if}}>{{ name }}</span>
                        <span class="type">  {{{ typeName type }}} </span>
                        {{#if defaultValue}}<span class="default"> (default {{ defaultValue }})</span>{{/if}}
                    </li>
                    <li>
                        <p>
                            {{#if isDeprecated}}
                                <span class="stab">Deprecated</span>
                            {{/if}}
                            {{{ description }}}
                        </p>
                    </li>
                </ul>
            </div>
            {{/each}}
        </div>
    {{/if}}

    {{#if returnParameters}}
        {{#each returnParameters}}
        <div class="returns-listing">
            <ul>
                <li> <h3 class="type">Return Type</h3> (<span class="type">{{{ typeName type }}}</span>)</li>
                <li>{{{ description }}}</li>
            </ul>
        </div>
        {{/each}}
    {{/if}}
</div>