<!DOCTYPE html>
<html>

{{> head }}

<body>
<div class="ui grid">
    <div class="navi-wrapper two wide column">
        <div class="navi-wrapper-content">
            <a href="{{ rootPath }}index.html">
                <img class="logo" src="{{ rootPath }}html-template-resources/images/ballerina-logo.png">
            </a>
            {{> currentModule }}
            {{> allModules }}
        </div>
    </div>

    <div class="fourteen wide column content-wrapper">
        <div class="main-wrapper">
            <div class="ui breadcrumb">
                <h2 class="active section">{{ module.id }}</h2>
            </div>
            <div class="ui divider"></div>
            {{{ module.description }}}

            {{#if module.records}}
                <div class="ui divider"></div>
                <h3><a name="records">Records</a></h3>
                <div class="ui divider"></div>
                <table>
                    {{#each module.records}}
                        <tr>
                            <td class="module-title truncate records" id="{{name}}">
                                <a class="records"
                                   href="records/{{name}}.html">{{name}}</a></td>
                            <td class="module-desc">{{{ description }}}</td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}

            {{#if module.objects}}
                <h3><a name="objects">Objects</a></h3>
                <div class="ui divider"></div>
                <table>
                    {{#each module.objects}}
                        <tr>
                            <td class="module-title truncate objects" id="{{name}}">
                                <a class="objects"
                                   href="objects/{{name}}.html">
                                    {{name}}
                                </a>
                            </td>
                            <td class="module-desc">{{{ description }}}</td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}

            {{#if module.clients}}
                <h3><a name="clients">Clients</a></h3>
                <div class="ui divider"></div>
                <table>
                    {{#each module.clients}}
                        <tr>
                            <td class="module-title truncate clients" id="{{name}}">
                                <a class="clients"
                                   href="clients/{{name}}.html">{{name}}</a></td>
                            <td class="module-desc">{{{ description }}}</td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}

            {{#if module.functions}}
                <h3><a name="functions">Functions</a></h3>
                <div class="ui divider"></div>
                <table>
                    {{#each module.functions}}
                        <tr>
                            <td class="module-title truncate functions" id="{{name}}"><a
                                    class="functions" href="functions/functions.html">{{name}}</a></td>
                            <td class="module-desc">{{{ description }}}</td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}


            {{#if module.constants}}
                <h3><a name="constants">Constants</a></h3>
                <div class="ui divider"></div>
                <table>
                    {{#each module.constants}}
                        <tr>
                            <td class="module-title truncate constant" id="{{name}}"><a
                                    class="constant" href="constants/constants.html">{{name}}</a></td>
                            <td class="module-desc">{{{ description }}}</td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}


            {{#if module.annotations}}
                <h3><a name="annotations">Annotations</a></h3>
                <div class="ui divider"></div>
                <table>
                    {{#each module.annotations}}
                        <tr>
                            <td class="module-title truncate annotations" id="{{name}}"><a
                                    class="annotations" href="annotations/annotations.html">{{name}}</a></td>
                            <td class="module-desc">{{{ description }}}</td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}

            {{#if module.unionTypes}}
                <h3><a name="types">Types</a></h3>
                <div class="ui divider"></div>
                <table>
                    {{#each module.unionTypes}}
                        <tr>
                            <td class="module-title truncate types" id="{{name}}">
                                <a class="types" href="types/types.html">{{name}}</a>
                            </td>
                            <td class="module-desc">{{{ description }}}</td>
                            <td class="member-types">
                                <p>
                                    {{#each memberTypes}}
                                        <a>{{ name }}</a>
                                    {{/each}}
                                </p>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}

            {{#if module.errors}}
                <h3><a name="errors">Errors</a></h3>
                <div class="ui divider"></div>
                <table>
                    {{#each module.errors}}
                        <tr>
                            <td class="module-title truncate errors" id="{{name}}">
                                <a class="errors" href="errors/errors.html">{{name}}</a>
                            </td>
                            <td class="module-desc">{{{ description }}}</td>
                            <td class="detail-type">{{ detailType.name }}</td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}
        </div>
    </div>
</div>
</body>