<!DOCTYPE html>
<html>

{{> head }}

<body class="cBallerina-io">
    {{> bioBody }}
    <div class="navi-wrapper">
        <div class="navi-wrapper-content">
            {{> logo }}
            {{> currentModule }}
            {{> allModules }}
        </div>
    </div>

    <div class="ui vertical sidebar menu">
        <div class="navi-wrapper-sidebar">
            <div class="navi-wrapper-content">
                {{> logo }}
                
                {{> currentModule }}
                {{> allModules }}
            </div>
        </div>
    </div>



    <div class="content-wrapper pusher">
        {{> mobMenu }}
        <div class="main-wrapper module-wrapper">
            <div id="search-impl"></div>
            <div id="main">
                <h1>
                    {{> breadcrumb }}
                    {{#if project.isSingleFile}}
                        {{project.sourceFileName}}
                    {{else}}
                        Module : <span class="modules">{{ module.id }}</span>
                    {{/if}}
                </h1>
                    {{{ module.description }}}

            {{#if module.records}}

            <section class="method-content" id="records">
                <div class="main-method-title here">
                    <a class="url-link" href="#records">
                        <img class="url-link-img" src="{{ rootPath }}html-template-resources/images/link.svg">
                    </a>
                <h2> Records </h2>
                </div>
                <table>
                    {{#each module.records}}
                        <tr>
                            <td class="module-title truncate records" id="{{name}}" title="{{name}}">
                                <a class="records {{#if isDeprecated}}strike{{/if}}" href="records/{{name}}.html">{{name}}</a>
                            </td>
                            <td class="module-desc">
                                {{#if isDeprecated}}
                                    <span class="stab">Deprecated</span>
                                {{/if}}
                                {{#if isAnonymous}}Anonymous record{{else}}{{{ editDescription description }}}{{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </section>
            {{/if}}

            {{#if module.objects}}
            <section class="method-content" id="objects">
                <div class="main-method-title here">
                    <a class="url-link" href="#objects">
                        <img class="url-link-img" src="{{ rootPath }}html-template-resources/images/link.svg">
                    </a>
                <h2> Objects </h2>
                </div>
                <table>
                    {{#each module.objects}}
                        <tr>
                            <td class="module-title truncate objects" id="{{name}}" title="{{name}}">
                                <a class="objects {{#if isDeprecated}}strike{{/if}}" href="objects/{{name}}.html">{{name}}</a>
                            </td>
                            <td class="module-desc">
                                {{#if isDeprecated}}
                                    <span class="stab">Deprecated</span>
                                {{/if}}
                                {{{ editDescription description }}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
             </section>  
            {{/if}}

            {{#if module.clients}}
             <section class="method-content" id="clients">
                <div class="main-method-title here">
                    <a class="url-link" href="#clients">
                        <img class="url-link-img" src="{{ rootPath }}html-template-resources/images/link.svg">
                    </a>
                <h2> Clients </h2>
                </div>
                <table>
                    {{#each module.clients}}
                        <tr>
                            <td class="module-title truncate clients" id="{{name}}" title="{{name}}">
                                <a class="clients {{#if isDeprecated}}strike{{/if}}" href="clients/{{name}}.html">{{name}}</a>
                            </td>
                            <td class="module-desc">
                                {{#if isDeprecated}}
                                    <span class="stab">Deprecated</span>
                                {{/if}}
                                {{{ editDescription description }}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
             </section>
            {{/if}}

            {{#if module.listeners}}
             <section class="method-content" id="listeners">
                <div class="main-method-title here">
                    <a class="url-link" href="#listeners">
                        <img class="url-link-img" src="{{ rootPath }}html-template-resources/images/link.svg">
                    </a>
                <h2> Listeners </h2>
                </div>
                <table>
                    {{#each module.listeners}}
                        <tr>
                            <td class="module-title truncate listeners" id="{{name}}" title="{{name}}">
                                <a class="listeners {{#if isDeprecated}}strike{{/if}}" href="listeners/{{name}}.html">{{name}}</a>
                            </td>
                            <td class="module-desc">
                                {{#if isDeprecated}}
                                    <span class="stab">Deprecated</span>
                                {{/if}}
                                {{{ editDescription description }}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </section>
            {{/if}}
           

            {{#if module.functions}}
            <section class="method-content" id="functions">
                <div class="main-method-title here">
                    <a class="url-link" href="#functions">
                        <img class="url-link-img" src="{{ rootPath }}html-template-resources/images/link.svg">
                    </a>
                    <h2> Functions </h2>
                </div>
                <table>
                    {{#each module.functions}}
                        <tr>
                            <td class="module-title truncate functions" id="{{name}}" title="{{name}}">
                                <a class="functions {{#if isDeprecated}}strike{{/if}}" href="functions.html#{{name}}">{{name}}</a>
                            </td>
                            <td class="module-desc">
                                {{#if isDeprecated}}
                                    <span class="stab">Deprecated</span>
                                {{/if}}
                                {{{ editDescription description }}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </section>
            {{/if}}


            {{#if module.constants}}
            <section class="method-content" id="constants">
                <div class="main-method-title here">
                    <a class="url-link" href="#constants">
                        <img class="url-link-img" src="{{ rootPath }}html-template-resources/images/link.svg">
                    </a>
                <h2> Constants </h2>
                </div>
                <table>
                    {{#each module.constants}}
                        <tr>
                            <td class="module-title truncate constant" id="{{name}}" title="{{name}}">
                                <a class="constant {{#if isDeprecated}}strike{{/if}}" href="constants.html#{{name}}">{{name}}</a>
                            </td>
                            <td class="module-desc">
                                {{#if isDeprecated}}
                                    <span class="stab">Deprecated</span>
                                {{/if}}
                                {{{ editDescription description }}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </section>
            {{/if}}


            {{#if module.annotations}}
            <section class="method-content" id="annotations">
                <div class="main-method-title here">
                    <a class="url-link" href="#annotations">
                        <img class="url-link-img" src="{{ rootPath }}html-template-resources/images/link.svg">
                    </a>
                <h2> Annotations </h2>
                </div>
                <table>
                    {{#each module.annotations}}
                        <tr>
                            <td class="module-title truncate annotations" id="{{name}}" title="{{name}}">
                                <a class="annotations {{#if isDeprecated}}strike{{/if}}"
                                   href="annotations.html#{{name}}">{{name}}</a>
                            </td>
                            <td class="module-desc">
                                {{#if isDeprecated}}
                                    <span class="stab">Deprecated</span>
                                {{/if}}
                                {{{ editDescription description }}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </section>
            {{/if}}

            {{#if module.unionTypes}}
            <section class="method-content" id="types">
                <div class="main-method-title here">
                    <a class="url-link" href="#types">
                        <img class="url-link-img" src="{{ rootPath }}html-template-resources/images/link.svg">
                    </a>
                <h2> Types </h2>
                </div>
                <table>
                    {{#each module.unionTypes}}
                        <tr>
                            <td class="module-title truncate types" id="{{name}}" title="{{name}}">
                                <a class="types {{#if isDeprecated}}strike{{/if}}" href="types.html#{{name}}">{{name}}</a>
                            </td>
                            <td class="module-desc">
                                {{#if isDeprecated}}
                                    <span class="stab">Deprecated</span>
                                {{/if}}
                                {{{ editDescription description }}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </section>
            {{/if}}

            {{#if module.errors}}
             <section class="method-content" id="errors">
                <div class="main-method-title here">
                    <a class="url-link" href="#errors">
                        <img class="url-link-img" src="{{ rootPath }}html-template-resources/images/link.svg">
                    </a>
                <h2> Errors </h2>
                </div>
                <table>
                    {{#each module.errors}}
                        <tr>
                            <td class="module-title truncate errors" id="{{name}}" title="{{name}}">
                                <a class="errors {{#if isDeprecated}}strike{{/if}}" href="errors.html#{{name}}">{{name}}</a>
                            </td>
                            <td class="module-desc">
                                {{#if isDeprecated}}
                                    <span class="stab">Deprecated</span>
                                {{/if}}
                                {{{ editDescription description }}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </section>
            {{/if}}
        </div>
        </div>
    </div>

</body>

{{> footer }}
