{{#partial "sidebarName" }}
    Types
{{/partial}}

{{#partial "sidebarLists" }}
    {{#each module.types}}
        <li {{#equals bTypes.name name}}class="active"{{/equals}}>
            <a href="#{{name}}" onclick="menuLinkClick()">{{name}}</a>
        </li>
    {{/each}}
{{/partial}}

{{#partial "titleType" }}Types{{/partial}}

{{#partial "content" }}
    <div class="types">
        <div class="data-wrapper">
            {{#each types}}
                <div class="params-listing">
                    <ul>
                        <li id="{{ name }}">
                            <b {{#if isDeprecated}}class="strike"{{/if}}>{{ name }}</b>
                                <span class="type">  {{{ typeName this }}}</span></li>
                        <li>
                            {{#if isDeprecated}}
                                <span class="stab">Deprecated</span>
                            {{/if}}
                            {{{ description }}}
                        </li>
                    </ul>
                </div>
            {{/each}}
            {{#each module.finiteTypes }}
                <div class="params-listing">
                    <ul>
                        <li id="{{ name }}">
                            <b {{#if isDeprecated}}class="strike"{{/if}}>{{ name }}</b>
                            <span class="type">{{{ pipeJoin valueSpace }}}</span></li>
                        <li>
                            {{#if isDeprecated}}
                                <span class="stab">Deprecated</span>
                            {{/if}}
                            {{{ description }}}
                        </li>
                    </ul>
                </div>
            {{/each}}
        </div>
    </div>
{{/partial}}

{{> layout}}
