<!DOCTYPE html>
<html>

{{> htmlHead title="API Documentation - Module Annotations " rootPath="../../" }}

<body>
  <div class="ui grid">
    <div class="navi-wrapper two wide column">
      <div class="navi-wrapper-content">
      <a href="../../index.html">
        <img class="ui fluid image logo" src="../../images/ballerina-logo.png">
      </a>
      {{> currentModule rootPath="../../" }}
      {{> allModules rootPath="../../" }}
      </div>
    </div>

    <div class="fourteen wide column content-wrapper">
      <div class="main-wrapper">
      <h1>Annotations</h1>
      <div class="ui divider"></div>
      <div class="constants">
        <table class="ui table">
          <tbody>
            {{#each annotations}}
            <tr>
              <td width="25%" class="annotations"><a href="#{{name}}">{{name}}</a> </td>
              <td width="75%">{{description}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <div>
          {{#if annotations}}
          <div>
            <table class="ui table param-table">
              <thead>
                <tr>
                  <th width="25%">Name</th>
                  <th width="15%">Attachment Points</th>
                  <th width="20%">Data Type</th>
                  <th width="30%">Description</th>
                </tr>
              </thead>
              <tbody>
                {{#each annotations}}
                <tr>
                  <td>{{name}}</td>
                  <td>{{data_type}}</td>
                  <td>{{default_value}}</td>
                  <td>{{description}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
    </div>
  </div>
</body>
