<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>API Documentation</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../../styles/css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
  <div class="ui grid">
    <div class="navi-wrapper two wide column">
      <a href="../../index.html">
        <img class="logo" src="../../images/ballerina-logo.png">
        </a>
      <div class="primary-list">
        <h3>Annotations</h3>
        <ul>
         {{#each annotations}}
          <li>
            {{name}}
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="ui divider"></div>
      <div class="primary-list">
        <h3>Constructs</h3>
        {{#if all.modules}}
        <ul>
          {{#each all.modules}}
          {{#if constructs}}
          {{#each constructs}}
          <li>
            <a href="../index.html#{{@key}}">{{@key}}</a>
          </li>
          {{/each}}
          {{/if}}
          {{/each}}
        </ul>
        {{/if}}
        <div class="ui divider"></div>
      </div>
      <div class="primary-list">
        <h3>All Modules</h3>
        {{#if all.modules}}
            <ul>
              {{#each all.modules}}
              <li>
                <a href="../index.html">{{id}}</a>
              </li>
              {{/each}}
            </ul>
        {{/if}}
        <div class="ui divider"></div>
      </div>
    </div>

    <div class="fourteen wide column content-wrapper">
      <h1>Annotations</h1>
      <div class="ui divider"></div>
      <div class="constants">
        <table class="ui table">
            <tbody>
              {{#each annotations}}
              <tr>
                <td class="annotations"><a href="#{{name}}">{{name}}</a></td>
                <td>{{description}}</td> 
              </tr>
            {{/each}}
            </tbody>
        </table>
        <div>
          {{#if annotations}}
            <div>
                <table class="ui table">
                  <p>{{fields.name_label}}</p>
                    <thead>
                      {{#each annotations}}
                      {{#if fields}}
                        {{#each fields}}
                        <tr>
                          <th>{{name_label}}</th>
                          <th>{{attachment_points_label}}</th>
                          <th>{{data_type_label}}</th>
                          <th>{{description_label}}</th>
                        </tr>
                        {{/each}}
                      {{/if}}
                      {{/each}}
                    </thead>
                    <tbody>
                      {{#each annotations}}
                      <tr>
                        <td>{{name}}</td>
                        <td>{{data_type}}</td>
                        <td>{{default_value}}</td>
                        <td>{{description}}</td>
                      </tr>
                      {{/each}}
                    </tbody>
                </table>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</body>