<!DOCTYPE html>
<html>

{{> htmlHead title="API Documentation - Module Clients " rootPath="../../" }}

<body>
  <div class="ui grid">
    <div class="navi-wrapper two wide column">
      <a href="../../index.html">
        <img class="logo" src="../../images/ballerina-logo.png">
      </a>
      <div class="primary-list">
        <h3>Clients</h3>
        <ul>
          {{#each clients}}
          <li>
            {{name}}
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="ui divider"></div>
      {{> currentModule rootPath="../../" }}
      {{> allModules rootPath="../../" }}
    </div>

    <div class="fourteen wide column content-wrapper">
      <h1>{{ clnt.name }}</h1>
      <div class="ui divider"></div>

      <h3 class="clients">{{clnt.type}} <span class="clients"> {{clnt.name}} </span> {{clnt.label}}</h3>
      <p>{{clnt.description}}</p>

      <div class="constants">
        <table class="ui table">
          <thead>
            {{#if clnt}}
            {{#clnt}}
            {{#each fields}}
            <tr>
              <th width="20%">{{field_name_label}}</th>
              <th width="20%">{{data_type_label}}</th>
              <th width="15%">{{default_value_label}}</th>
              <th width="45%">{{description_label}}</th>
            </tr>
          </thead>
          <tbody>
            {{#if attributes}}
            {{#each attributes}}
            <tr>
              <td width="20%">{{field_name}}</td>
              <td width="20%">{{data_type}}</td>
              <td width="15%">{{default_value}}</td>
              <td width="45%">{{description}}</td>
            </tr>
            {{/each}}
            {{/if}}
            {{/each}}
            {{/clnt}}
            {{/if}}
          </tbody>
        </table>

        <div class="ui divider"></div>
        <div class="method-wrapper">
          {{#if clnt}}
          {{#clnt}}
          {{#each method}}
          <div class="method-span">
            <table class="ui table">
              <tr>
                <td class="clients module-title method-table-header"><a href="#{{method_type}}">{{method_type}}</a></td>
                <td class="module-desc">{{description}}</td>
              </tr>
            </table>
          </div>
          {{/each}}

          {{#each method}}
          <div class="method-type-wrapper">
            <div class="method-title">
              <h3 class="clients" id="{{method_type}}">{{method_type}}</h3>
              <p>{{method_params}}</p>
              <h3>{{label_return}}</h3>
              <p>{{return_params}}</p>
            </div>
            <p>{{description}}</p>
            <table class="ui table params-table">
              <thead>
                {{#if params }}
                {{#each params }}
                {{#if fields}}
                {{#each fields}}
                <tr>
                  <th width="20%">{{param_name_label}}</th>
                  <th width="20%">{{data_type_label}}</th>
                  <th width="15%">{{default_value_label}}</th>
                  <th width="45%">{{description_label}}</th>
                </tr>
                {{/each}}
                {{/if}}
                {{/each}}
                {{/if}}
              </thead>
              {{#if params }}
              {{#each params }}
              {{#if fields}}
              {{#each fields}}
              {{#if attributes}}
              {{#each attributes}}
              <tbody>
                <tr>
                  <td width="20%">{{field_name}}</td>
                  <td width="20%">{{data_type}}</td>
                  <td width="15%">{{default_value}}</td>
                  <td width="45%">{{description}}</td>
                </tr>
              </tbody>
              {{/each}}
              {{/if}}
              {{/each}}
              {{/if}}
              {{/each}}
              {{/if}}
            </table>
            <table class="ui table">
              <thead>
                {{#if returns }}
                {{#each returns }}
                {{#if fields}}
                {{#each fields}}
                <tr>
                  <th width="30%">{{return_type_label}}</th>
                  <th width="70%">{{return_description_label}}</th>
                </tr>
                {{/each}}
                {{/if}}
                {{/each}}
                {{/if}}
              </thead>
              {{#if returns }}
              {{#each returns }}
              {{#if fields}}
              {{#each fields}}
              <tbody>
                <tr>
                  <td width="30%">{{return_type}}</td>
                  <td width="70%">{{description}}</td>
                </tr>
              </tbody>
              {{/each}}
              {{/if}}
              {{/each}}
              {{/if}}
            </table>
          </div>
          {{/each}}
          {{/clnt}}
          {{/if}}
        </div>
      </div>

    </div>
  </div>
</body>