<!DOCTYPE html>
<html>

{{> htmlHead title="API Documentation - Module Clients " rootPath="../../" }}

<body>
  <div class="ui grid">
    <div class="navi-wrapper two wide column">
      <div class="navi-wrapper-content">
      <a href="../../index.html">
        <img class="logo" src="../../images/ballerina-logo.png">
      </a>
      <div class="primary-list">
        <h3>Clients</h3>
        <ul>
          {{#each module.constructs.clients}}
          <li>
            <a href="{{name}}.html">{{name}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="ui divider"></div>
      {{> currentModule rootPath="../../" }}
      {{> allModules rootPath="../../" }}
      </div>
    </div>

    <div class="fourteen wide column content-wrapper">
      <div class="main-wrapper">
        <h1>Client : <span class="clients">{{ client.name }}</span></h1>
      <div class="ui divider"></div>

      <p>{{client.description}}</p>

      <div class="constants">
        <table class="ui table">
          <thead>
            {{#if client}}
            {{#client}}
            <tr>
              <th width="20%">Field Name</th>
              <th width="20%">Data Type</th>
              <th width="15%">Default Value</th>
              <th width="45%">Description</th>
            </tr>
          </thead>
          <tbody>
            {{#each fields}}
            {{#if attributes}}
            {{#each attributes}}
            <tr>
              <td width="20%">{{field_name}}</td>
              <td width="20%">{{data_type}}</td>
              <td width="15%">{{default_value}}</td>
              <td width="45%">{{description}}</td>
            </tr>
            {{/each}}
            {{/if}}
            {{/each}}
            {{/client}}
            {{/if}}
          </tbody>
        </table>

        <div class="ui divider"></div>
        <div class="method-wrapper">
          {{#if client}}
          {{#client}}
          {{#each method}}
          <div class="method-span">
            <table class="ui table">
              <tr>
                <td class="clients module-title method-table-header"><a href="#{{method_type}}">{{method_type}}</a></td>
                <td class="module-desc">{{description}}</td>
              </tr>
            </table>
          </div>
          {{/each}}

          {{#each method}}
          <div class="method-content">
              <h3 class="clients" id="{{method_type}}">{{method_type}}</h3>
              <p class="method-types"> {{method_params}}</p>
              <h3>return</h3>
              <p class="method-types"> {{return_params}}</p>
            <div class="ui divider param-divider"></div>
            <p>{{description}} </p>
            <table class="ui table param-table">
              <thead>
                <tr>
                  <th width="20%">Param Name</th>
                  <th width="20%">Data Type</th>
                  <th width="15%">Default Value</th>
                  <th width="45%">Description</th>
                </tr>
              </thead>
              {{#if params }}
              {{#each params }}
              {{#if fields}}
              {{#each fields}}
              {{#if attributes}}
              {{#each attributes}}
              <tbody>
                <tr>
                  <td width="20%">{{field_name}}</td>
                  <td width="20%">{{data_type}}</td>
                  <td width="15%">{{default_value}}</td>
                  <td width="45%">{{description}}</td>
                </tr>
              </tbody>
              {{/each}}
              {{/if}}
              {{/each}}
              {{/if}}
              {{/each}}
              {{/if}}
            </table>
            <table class="ui table param-table">
              <thead>
                {{#if returns }}
                {{#each returns }}
                {{#if fields}}
                {{#each fields}}
                <tr>
                  <th width="30%">Return Type</th>
                  <th width="70%">Description</th>
                </tr>
                {{/each}}
                {{/if}}
                {{/each}}
                {{/if}}
              </thead>
              {{#if returns }}
              {{#each returns }}
              {{#if fields}}
              {{#each fields}}
              <tbody>
                <tr>
                  <td width="30%">{{return_type}}</td>
                  <td width="70%">{{description}}</td>
                </tr>
              </tbody>
              {{/each}}
              {{/if}}
              {{/each}}
              {{/if}}
            </table>
          </div>
          {{/each}}
          {{/client}}
          {{/if}}
        </div>
      </div>

    </div>
      </div>
    </div>
</body>
