<!DOCTYPE html>
<html>

{{> htmlHead title="API Documentation - Module Objects " rootPath="../../" }}

<body>
  <div class="ui grid">
    <div class="navi-wrapper two wide column">
      <div class="navi-wrapper-content">
      <a href="../../index.html">
        <img class="logo" src="../../images/ballerina-logo.png">
      </a>
      <div class="primary-list">
        <h3>Objects</h3>
        <ul>
          {{#each module.constructs.objects}}
          <li>
            <a href="{{name}}.html">{{name}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="ui divider"></div>
      {{> currentModule rootPath="../../" }}
      {{> allModules rootPath="../../" }}
      </div>
    </div>

    <div class="fourteen wide column content-wrapper">
      <div class="main-wrapper">
        <h1>Objects : <span class="objects">{{ object.name }}</span> </h1>
      <div class="ui divider"></div>

      {{!-- <h3>{{object.type}} <span class="objects">{{object.name}}</span> object</h3> --}}
      <p>{{object.description}}</p>

      <div class="constants">
        {{#if object.init_method}}
        {{#each object.init_method}}
        <h2>New Method</h2>
        <div class="ui divider"></div>
        <h3 >__init</h3><p>({{init_param}})</p>
        <table class="ui table param-table">
          <thead>
            <tr>
              <th width="20%">Param Name</th>
              <th width="20%">Data Type</th>
              <th width="15%">Default Value</th>
              <th width="35%">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{attributes.param_name}}</td>
              <td>{{attributes.data_type}}</td>
              <td>{{attributes.default_value}}</td>
              <td>{{attributes.description}}</td>
            </tr>
          </tbody>
        </table>
        <div class="ui divider"></div>
        {{/each}} 
        {{/if}}

        {{#if object.method}}
        <h2>Methods</h2>
        <div class="ui divider"></div>
        <div class="method-list">
          {{#each object.method}}
        <p><a href="#{{method_type}}"><b>{{method_type}}</b></a>{{method_params}}<b>
            returns</b>{{return_params}} <br></p>
        {{/each}}
        </div>
        <div class="ui divider"></div>
        {{/if}}
       
        {{#if object.top_fields}}
        {{#each object.top_fields}}
        <table class="ui table param-table">
          <thead>
            <tr>
              <th width="20%">Field Name</th>
              <th width="20%">Data Type</th>
              <th width="15%">Default Value</th>
              <th width="35%">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{attributes.field_name}}</td>
              <td>{{attributes.data_type}}</td>
              <td>{{attributes.default_value}}</td>
              <td>{{attributes.description}}</td>
            </tr>
          </tbody>
        </table>
        <div class="ui divider"></div>
        {{/each}} 
        {{/if}}
        
      {{#if object.method}}
        {{#each object.method}}
        <div class="method-content">
          <h3 id="{{method_type}}">{{method_type}}</h3>
          <p class="method-types"> {{method_params}}</p>
          <div class="ui divider param-divider"></div>
          <p>{{description}}</p>
        <table class="ui table param-table">
          <thead>
            <tr>
              <th>Parameter Name</th>
              <th>Data Type</th>
              <th>Default Value</th>
              <th>"Description</th>
            </tr>
          </thead>
          <tbody>
            {{#if fields}}
            {{#each fields}}
            {{#if attributes}}
            {{#each attributes}}
            <tr>
              <td>{{param_name}}</td>
              <td>{{data_type}}</td>
              <td>{{default_value}}</td>
              <td>{{description}}</td>
            </tr>
            {{/each}}
            {{/if}}
            {{/each}}
            {{/if}}
          </tbody>
        </table>
        <table class="ui table param-table">
          <thead>
            {{#if return}}
            {{#each return}}
            <th width="50%">Return Type</th>
            <th width="50%">Description</th>
            {{/each}}
            {{/if}}
          </thead>
          <tbody>
            {{#if return}}
            {{#each return}}
            <tr>
              <td width="50%">{{return_type}}</td>
              <td width="50%">{{description}}</td>
            </tr>
            {{/each}}
            {{/if}}
          </tbody>
        </table>
        </div>
        {{/each}}
        {{/if}}
      </div>
      <div class="ui divider"></div>
      </div>
    </div>
  </div>
</body>
