<!DOCTYPE html>
<html>

{{> htmlHead title="API Documentation - Module Objects " rootPath="../../" }}

<body>
  <div class="ui grid">
    <div class="navi-wrapper two wide column">
      <a href="../../index.html">
        <img class="logo" src="../../images/ballerina-logo.png">
      </a>
      <div class="primary-list">
        {{#if data.modules}}
        <ul>
          {{#each data.modules}}
          {{#if constructs}}
          {{#each constructs}}
          {{#if constructs.objects}}
          {{#each objects}}
          <li>
            {{name}}
          </li>
          {{/each}}
          {{/if}}
          {{/each}}
          {{/if}}
          {{/each}}
        </ul>
        {{/if}}
      </div>...
      <div class="ui divider"></div>
      {{> currentModule rootPath="../../" }}
      {{> allModules rootPath="../../" }}
    </div>

    <div class="fourteen wide column content-wrapper">
      <h1>{{ obj.name }}</h1>
      <div class="ui divider"></div>

      <h3>{{obj.type}} <span class="objects">{{obj.name}}</span> {{obj.label}}</h3>
      <p>{{obj.description}}</p>

      <div class="constants">
        {{#if obj.method}}
        {{#each obj.method}}
        <p><b>{{method_type}}</b>{{method_params}}<b>{{label_return}}</b>{{return_params}}</p>
        {{/each}}
        {{/if}}
        {{#if data.constants}}
        {{#each constants}}
        {{#if method}}
        {{#each method}}
        <p>{{obj.method_type}} {{obj.method_params}}</p>
        {{/each}}
        {{/if}}
        {{/each}}
        {{/if}}

        <div class="ui divider"></div>
        {{#if obj.method}}
        {{#each obj.method}}
        <h3>{{method_type}}{{method_params}}</h3>
        <p>{{description}}</p>
        <table class="ui table">
          <thead>
            <tr>
              <th>{{param_name_label}}</th>
              <th>{{data_type_label}}</th>
              <th>{{default_value_label}}</th>
              <th>{{description_label}}</th>
            </tr>
          </thead>
          {{#if fields}}
          {{#each fields}}
          <tbody>
            <tr>
              <td>{{param_name}}</td>
              <td>{{data_type}}</td>
              <td>{{default_value}}</td>
              <td>{{description}}</td>
            </tr>
          </tbody>
          {{/each}}
          {{/if}}
        </table>
        {{/each}}
        {{/if}}
      </div>
      <div class="ui divider"></div>
    </div>
  </div>
</body>