<!DOCTYPE html>
<html>

{{> htmlHead title="API Documentation - Module recordords " rootPath="../../" }}

<body>
  <div class="ui grid">
    <div class="navi-wrapper two wide column">
      <div class="navi-wrapper-content">
      <a href="../../index.html">
        <img class="logo" src="../../images/ballerina-logo.png">
      </a>
      <div class="primary-list">
        <h3>Records</h3>
        <ul>
          {{#each module.constructs.records}}
          <li>
            <a href="{{name}}.html">{{name}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="ui divider"></div>
      {{> currentModule rootPath="../../" }}
      {{> allModules rootPath="../../" }}
      </div>
    </div>

    <div class="fourteen wide column content-wrapper">
      <div class="main-wrapper">
      <h1>Record : <span class="records">{{ record.name }}</span></h1>
      <div class="ui divider"></div>

      <p>{{record.description}}</p>

      <div class="constants">
        <table class="ui table">
          <thead>
            <tr>
              <th>Field Name</th>
              <th>Data Type</th>
              <th>Default Value</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{#if record}}
            {{#record}}
            {{#each fields}}
            <tr>
              <td>{{field_name}}</td>
              <td>{{data_type}}</td>
              <td>{{default_value}}</td>
              <td>{{description}}</td>
            </tr>
            {{/each}}
            {{/record}}
            {{/if}}
          </tbody>
        </table>
      </div>
      <div class="ui divider"></div>
    </div>
    </div>
  </div>
</body>
