<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>API Documentation{{rec.id}}</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../../styles/css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
  <div class="ui grid">
    <div class="navi-wrapper two wide column">
      <img class="logo" src="../../images/ballerina-logo.png">

      <div class="primary-list">
        <h3>Records</h3>
          {{#each constructs}}
            <a href="objects/{{@key}}.html">{{@key}}</a>
          {{/each}}
      </div>
      
      <div class="primary-list">
        <h3>Constructs</h3>
        {{#if all.modules.constructs}}
        <ul>
          {{#each all.modules.constructs}}
          <li>
            <a href="#{{@key}}">{{@key}}</a>
          </li>
          {{/each}}
        </ul>
        {{/if}}
      </div>

      <div class="primary-list">
        <h3>All Modules</h3>
        {{#if all.modules}}
        <ul>
          {{#each all.modules}}
          <li>
            <a href="{{id}}/index.html">{{id}}</a>
          </li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
    </div>
    <div class="fourteen wide column content-wrapper">
      <h1>{{rec.name}}</h1>
      <table class="ui table">
        {{#if rec.fields}}
        <tbody>
          {{#each rec.fields}}
          <tr>
            <td class="module-title"><a href="{{field_name}}/index.html">{{field_name}}</a></td>
            <td class="module-desc">{{description}}</td>
          </tr>
          {{/each}}
        </tbody>
        {{/if}}
      </table>
    </div>
  </div>
</body>